*{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	padding: 0;
	margin: 0;
	list-style: none;

}

.img-responsive{
	width: 100%;
	height: auto;
}

.navbar-default {
	background-color: #fff;
	border-color: transparent;
}

.navbar{
	font-size: 17px;
}

.navbar-default .navbar-nav>li>a {
	color: #1c1f23;
}

a.navbar-header {
	margin-top: 10px;
	margin-left: 184px;
	color: #1c1f23;
	font-size: 20px;
}

.container-fluid {
	margin-left: 20px;
}
.menugeneral{
	padding: 10px;
}
.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-collapse{
    margin-bottom: 17px;
}

img.logo{
	margin-top: 10px;
	margin-left: 68px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: slategray;
}

li.menu:hover{
	background-color: #F5B532;

}

ul.navbar-right{
	margin-right: 160px;
	font-size: 14px;
}

/*FIRST SECTION*/
.first-section{
	background-image: url(../docs/img/taxi.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	color: #fff;
}

h2.eres{
	margin-top: 1px;
}

h3.viaja{
	font-weight: 400;
	font-size: 18px;
}

h4.registro{
	font-size: 15px;
}
.btn-primary{
	background-color: #bdbfbb;
	border-color: #bdbfbb;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*FORMULARIO*/
.ingresa{
	background-color: #F5B532;
	margin-top: 200px;
}

.inputformulario {
    display: inline-block;
    width: 100px;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
}

p.inputformulario{
	margin-left: 20px;
	width: 58px;
	border: none;
}

button.conviertete{
	background-color: whitesmoke;
	color: #2B2B2B;
}

button.conviertete:hover{
	background-color: #2B2B2B;
	color: whitesmoke
}

/*SECOND-SECTION*/
.second-section{
	background-color: #F5B532;
	padding: 60px;
	position: relative;
	color: #fff;
	line-height: 27px;
	font-size: 15px;
}

.cuadrado{
	border: 1px solid #fff;
	width: 900px;
	height: 450px;
	z-index: 1000;
	position: absolute;
	margin-top: -478px;
	margin-left: -61px;
}

p.textocomun {
    font-size: 15px;
	margin-top: 24px;
}

/*THIRD-SECTION*/
.third-section{
	background-image: url(../docs/img/conduce.jpg);
	height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
}

.cajaconduce{
	background-color: rgba(21, 19, 19, 0.5);
	margin-top: 0;
	padding: 55px;
}

h2.conduce{
	margin-top: 45px;
	font-size: 25px;
}

.conviertetedos{
	background-color: #F5B532;
	margin-left: 29px;
	border-color: #F5B532;
}

.conviertetedos:hover{
	background-color: #2B2B2B;
	border-color: #F5B532;
}
/*FOUR-SECTION*/
.four-section{
	background-color: #F5B532;
	padding: 60px;
	color: #fff;
}

.casillas{
	display: grid;
}

i.fa{
	font-size: 20px;
	margin-bottom: 20px;
}

h2{
	font-weight: 400;
}

h4{
	font-weight: 400;
	margin-bottom: 25px;
}

#inputInicio , #inputDestino{
	margin-left: 20px;
	border: 1px solid #fff;
    background-color: transparent;
    border-radius: 6px;
    height: 36px;
    font-size: 13px;
	width: 280px;
	font-family: "Roboto";
	padding-left: 10px;
}

input.button{
	padding: 10px 3px;
	color: black;
	background-color: whitesmoke;
	border: 0;
	font-weight: 500;
	border-radius: 4px;
	font-family: "Roboto";
	font-size: 13px;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 27px;
	width: 167px;
	margin-left: 90px
}

input.button:hover{
	background-color: #2B2B2B;
	border-color: #F5B532;
	color: whitesmoke;
}

#map{
	width: 40%;
	height: 50vh;
	border: 2px solid #fff;
	margin-top: -250px;
}

/*FOOTER*/
footer {
    background-color: #2B2B2B;
    color: #fff;
    padding: 60px;
}

.imgstores{
	margin-top: 120px;
}

.stores{
	width: 150px;
	display: block;
	margin-top: 10px;
}

.mr{
	text-align: center;
}

.lises{
	line-height: 30px;
}

.sociales{
	color: #fff;
	margin-left: 8px;
}

.sociales:hover{
	color: #F5B532;
}

li{
	color: #fff;
}

li:hover{
	color: #F5B532;
}

.list {
	margin-top: 20px;
}